--- secrets.json
+++ secrets.json
@@ -1,5 +1,6 @@
{
"auth_providers": {
+ "anon-user": {},
"api-key": {}
},
"services": {
--- auth_providers/anon-user.json
+++ auth_providers/anon-user.json
@@ -1 +1,7 @@
+{
+ "id": "5e7c1128640c7eae17b5ffcf",
+ "name": "anon-user",
+ "type": "anon-user",
+ "disabled": false
+}
--- services/mongodb-atlas/rules/devMicron.Users.json
+++ services/mongodb-atlas/rules/devMicron.Users.json
@@ -1 +1,18 @@
+{
+ "id": "5e7c13e6ce401c9231a3e1c3",
+ "database": "devMicron",
+ "collection": "Users",
+ "roles": [
+ {
+ "name": "default",
+ "apply_when": {},
+ "read": true,
+ "write": false,
+ "insert": false,
+ "delete": false,
+ "additional_fields": {}
+ }
+ ],
+ "schema": {}
+}
--- services/mongodb-atlas/rules/devMicron.TransactionKeys.json
+++ services/mongodb-atlas/rules/devMicron.TransactionKeys.json
@@ -1 +1,16 @@
+{
+ "id": "5e7c147445d99c5f80126c7e",
+ "database": "devMicron",
+ "collection": "TransactionKeys",
+ "roles": [
+ {
+ "name": "default",
+ "apply_when": {},
+ "insert": false,
+ "delete": false,
+ "additional_fields": {}
+ }
+ ],
+ "schema": {}
+}
--- services/mongodb-atlas/rules/devMicron.Transactions.json
+++ services/mongodb-atlas/rules/devMicron.Transactions.json
@@ -1 +1,16 @@
+{
+ "id": "5e7c14ae45d99c5f801279ad",
+ "database": "devMicron",
+ "collection": "Transactions",
+ "roles": [
+ {
+ "name": "default",
+ "apply_when": {},
+ "insert": false,
+ "delete": false,
+ "additional_fields": {}
+ }
+ ],
+ "schema": {}
+}
--- services/mongodb-atlas/rules/devMicron.Ledger.json
+++ services/mongodb-atlas/rules/devMicron.Ledger.json
@@ -1 +1,16 @@
+{
+ "id": "5e7c150045d99c5f80128d6f",
+ "database": "devMicron",
+ "collection": "Ledger",
+ "roles": [
+ {
+ "name": "default",
+ "apply_when": {},
+ "insert": true,
+ "delete": false,
+ "additional_fields": {}
+ }
+ ],
+ "schema": {}
+}
--- services/mongodb-atlas/rules/devMicron.UserKeys.json
+++ services/mongodb-atlas/rules/devMicron.UserKeys.json
@@ -1 +1,19 @@
+{
+ "id": "5e7c11c2ce401c9231a247d0",
+ "database": "devMicron",
+ "collection": "UserKeys",
+ "roles": [
+ {
+ "name": "owner",
+ "apply_when": {
+ "owner_id": "%%user.id"
+ },
+ "read": true,
+ "insert": true,
+ "delete": false,
+ "additional_fields": {}
+ }
+ ],
+ "schema": {}
+}